<p>
  Hi <%= @user.email %>,
</p>

<p>
  The course that you've subscribed:
</p>

<ul>
  <li>Course: <%= @course.course %></li>
  <li>Instructor: <%= @lecture.instructor %></li>
  <li>Days: <%= @lecture.days %></li>
  <li>Times: <%= @lecture.times %></li>
</ul>

<p>
  has changed its status from <b><%= @origin_status %></b> to <b><%= @current_status %></b>.
</p>

<p>
  If you wish to unsubscribe, go to our <a href="https://www.daclassplanner.com" target="_blank">website</a> and click the Subscribed tag to unsubscribe.
</p>

<p>
  **This email is sent by the system. Please do not reply.**
</p>

